body {
  background-color: black;
}

#container {
  position: absolute;
  background-color: gray;
  border-radius: 15px;
  margin: auto;
  width: 30%;
  height: 10%;
  top: 45%;
  left: 35%;
}

#counter {
  position: absolute;
  color: white;
  top: 10%;
  left: 10%;
  font-size: 80%;
}
